header{
    position: fixed;
    top:0;
    width:100%;
    background-color: #ADD8E6;
    border-bottom: 1px solid #000080;
    text-align: center;
    z-index:99999;
}

main{
    width: 500px;
    margin: 100PX auto 0;
    position: relative;
    height: 100%;
}
h1{
    color:#478296;
}

h3{
    color:#478296;
    text-align:center;
}
button{
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-rigth: 20px;
    background-color: #ADD8E6 ;
}

.box{
    text-align: center;
    align: center;
}

.boxx{
    text-align: center;
    align: center;
}
