h2 {
    font-family: Lucida Handwriting;
    color:#8fb8ff;
    text-align: center;
    font-size:200px;
    margin: 0px;
    margin-top: 45px;
}
h1 {
    color:#ffbfb8;
    font-family: Verdana;
    text-align: center;
    font-size:200px;
    margin: 0px;
    margin-top: 45px;
}
div {
    height: 380px;
    width: 500px;
    background-color:#ffeeb0;
    border-radius: 10%;
    border: 3px solid #fffae8;
    text-align: center;
    justify-content: center;
}
body{
    place-items: center;
    justify-content: center;
    background-image: url('https://imgs.search.brave.com/CLNLfp77iGKcAKI2Q8ZgPSOdW1qVb9zXkBiSSWUbubs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tYXJr/ZXRwbGFjZS5jYW52/YS5jb20vRUFGbGJy/czFXYkEvMS8wLzE2/MDB3L2NhbnZhLXJl/ZC1hbmQtYmx1ZS1j/b2xvcmZ1bC1ib3Rh/bmljYWwtd2F0ZXJj/b2xvci1kZXNrdG9w/LXdhbGxwYXBlci1Y/dFQwcnNFazRzTS5q/cGc');
    background-size: cover;

}
button {
    color:#fffae8;
    font-size:30px;
    height: 70px;
    width: 200px;
    background-color:#8fb8ff;
    border-radius: 10%;
    border: 3px solid #fffae8;
}
