.instrument {
    height: 200px;
    width: 150px;
    background-color:whitesmoke;
    border-radius: 30%;
    border: 3px solid #c3e7fa;
    text-align: center;
    margin: 10px;
}
h1 {
    color:whitesmoke;
    text-align: center;
    font-size:100px;
}
h2 {
    font-size:40px;
}
p {
    font-size:30px;
}

.active {
    background-color:black;
    color: white;
}
body{
    background-color:black;

}
#center {
    display:flex;
    justify-content: center;
}
#vertical {
    display:flex;
    justify-content: center;
}
