 header{
    position: fixed;
    top:0;
    width:100%;
    background-color: #783c0b;
    color: white;
    border-bottom: 1px black;
    text-align: center;

  }

  body{
    margin-top: 100px;
    font-family: sans-serif;
    background-color: #ebc58d;
    justify-content: center;
  }

h2 {
  font-size: 50px;
  color:#4f2401;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 100px;
  color:#821518;
}
h5 {
  font-size: 50px;
  color:#783c0b;
}
h6 {
  font-size: 50px;
  color:#783c0b;
}
button{
  height: 200px;
  width: 250px;
  color: white;
background-color: #783c0b;

}
#spacearound {
    display:flex;
    justify-content: space-around;
}
#center {
    display:flex;
    justify-content: center;
}
.container {
    height: 170px;
}
.box {
    height: 10px;
}
button:hover {
color: white;
background-color: #e0d460;
}
