  header{
    position: sticky;
    top:0;
    width:100%;
    background-color: #e0d460 ;
    border-bottom: 1px solid #c9bd47;
    text-align: center;
  }

  body{
    font-family: sans-serif;
    background-color: #faf7dc;
    text-align: center
  }

  button{
    height: 400px;
    width: 400px;
    top-margin:90;
    background-color: #e0d460 ;
    border-radius: 50%;
    border: 30px solid #c9bd47;
}

h2 {
  font-size: 100px;
}
h3 {
  font-size: 100px;
}
h4 {
  font-size: 100px;
}

/* button:hover {
  background-color: blue;
} */
